<!---继承自common中的基本模板 实现模板复用-->
{% extends 'common/base.html' %}

<!--往父类模板中添加内容-->
{% block content %}
<div class="col-md-8">
					<h1>最新发布</h1>
					<!-- 标题，标签，分类，留言总数，发布时间 -->
					{% for article in articles %}
					<article>
						<h2><a href="#">{{ article.title }}</a></h2>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;
								{% for categorize in article.category.all %}
								<a href="">{{ categorize }}</a>
								{% endfor%}
								&nbsp;&nbsp;<span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;
								{% for tags in article.tag.all %}
								<a href="">{{ tags }}</a>
								 {% endfor %}
							</div>
							<div class="col-md-6 col-sm-6">
								<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;<a href="">200条评论</a>
								&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<a href="">{{ article.modified_at }}</a>
								&nbsp;&nbsp;&nbsp;&nbsp;<span class='glyphicon glyphicon-eye-open'></span>&nbsp;&nbsp;{{ article.visited }}
							</div>
						</div>
						<hr>

						<img src="http://placekitten.com/900/300" class="img-responsive">
						<br />
						<p class="lead">{{ article.abstract }}</p>
						<p>
						{{ article.content | truncatechars:200 }}	
						</p>
						<p class="text-right"><a href="{% url 'detail' article.id %}">阅读全文...</a></p>
						<hr>
					</article>
					{% endfor %}

					<!-- 分页 -->
					<ul class="pager">
						{% if articles.has_previous %}
						<li class="previous">
							<a href="?page={{ articles.previous_page_number }}"><span aria-hidden="true">&larr;</span> 上一页</a>
						</li>
						{% endif %}
						
						{% for current_page in articles.paginator.page_range %}
						<li> <a href='?page={{ current_page }}'>{{ current_page }}</a></li>
						{% endfor %}
						<li> <a href="?page={{ articles.number }}">{{ articles.number }}</a></li>
						{% if articles.has_next %}
						<li class="next">
							<a href="?page={{ articles.next_page_number }}">下一页 <span aria-hidden="true">&rarr;</span></a>
						</li>
						{% endif %}
					</ul>
</div>
<!--模板套用 侧边栏复用-->
{% include 'common/aside.html' %}
{% endblock %}